.main-contact {
    padding:100px 0;
}
.main-contact-text {}

.form {
    margin-top:60px;
}
.form .form-row {
    margin-bottom:15px;
}
.form .form-row-last {
    display: flex;
    align-items: center;
}
.form .btn {
    margin-right:20px;
}
.form .form-message {
    font-weight: bold;
    font-size:20px;
}
.form label {
    position: absolute;
    left:-9999px;
}
.form input[type=text],
.form input[type=email],
.form textarea {
    border:1px solid #ccc;
    padding:20px;
    border-radius: 10px;
    display: block;
    width:100%;
    max-width:550px;
    font-family: $fontFamily;
    transition: 0.5s all;

    &:focus {
        outline:none;
        border-color:#000;
        box-shadow:inset 0 0 0 1px #000;
    }

    &.error {
        outline:none;
        border-color:red;
        box-shadow:inset 0 0 0 1px red;
    }
}

.form textarea {
    max-width:100%;
    min-height:150px;
    resize: vertical;
}

@media (max-width:768px) {
    .form input[type=text],
    .form input[type=email],
    .form textarea {
        max-width: 100%;
    }
}